@model List<ApplicationCore.Models.MovieCardResponseModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="rounded">
    <div class="container-fluid bg-light">
        <div class="row">

            @foreach (var movie in Model)
            {
                <div class="col-12 col-lg-3 col-sm-4 col-xl-2"> <!-- the first one (col-6) by default is for the smallest screen size-->
                    @await Html.PartialAsync("_MovieCard", movie); 
                </div>
            }
        </div>
    </div>
</div>